@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --bg: #805454;
  --text: #222;
  --primary: #634747;
  --secondary: #e6e6e6;
  --card: #e6e6e6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

#tesoura-background {
    position: fixed;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 95%;
    z-index: 1;
}

.calendar-container{
  padding-top: 0px;
  z-index: 2;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

header {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

header h1 {
    color: white;
    font-size: 70px;
    font-family: Kalnia;
    font-weight: 400;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 30px 20px;
}

#month-year{
  color: #410C0C;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding-bottom: 2px;
  cursor: pointer;
  border-radius: 5px;
   box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
}

button:hover {
  opacity: 0.8;
}

#add-event{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font-size: 18px ;
  border-radius: 12px;
  font-weight: bold;
  width: 100%;
  padding: 5px 10px;
  gap: 10px;
  padding: 8px 20px;
  border: 3px solid #410C00;
  color: #410C00;
  border-radius: 24px;
  background-color: var(--card);
  transition: background-color 0.5s;
}

.calendar {
  background-color: var(--card);
  padding-top: 20px;
  border-radius: 24px;
  width: 500px ;
  height: 380px;
  margin-left: 50px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
  opacity: 85%;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  color: #410C0C;
  padding-bottom: 2rem;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding: 5px ;
}

.day {
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.day:hover {
  background-color: var(--primary);
  color: white;
}


.day.today {
  border: 2px solid var(--primary);
}

.day.selected {
  background-color: var(--primary);
  color: white;
}

#selected-date{
  color: #410C0C;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}

.sidebar {
  background-color: rgb(230, 230, 230, 0.8);
  padding: 10px;
  margin-right: 140px;
  border-radius: 24px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
  z-index: 2;
  width: 400px;
}

#event-list {
  margin: 10px 0;
}

.event {
  background-color: var(--primary);
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-content {
  flex: 1;
}

.event button {
  background-color: red;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.event button:hover {
  background-color: darkred;
}

input {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 12px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
  border: none ;
}

input[type="time"] {
  margin-top: 5px;
}

input[type="text"] {
  padding: 8px;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
  header {
    flex-direction: column;
    gap: 10px;
  }
}
